# Node.js dependencies
node_modules/

# Backend build
backend/dist/
backend/build/
backend/.env

# Frontend build
frontend/.nuxt/
frontend/.output/
frontend/dist/
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# System files
.DS_Store
